<!DOCTYPE html>
<html>

<head>
    <title>Restaurants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/read.css">
</head>
<body>
    <div>
        <h1>Restaurants</h1>
        <h2>User: <%=userName%></h2>
            <div>
        <a href ="/insert"><button>Create new restaurant</button></a>
        <a href="/logout"><button>Logout</button></a>

    </div>
    <form class="upload-form" method="post" action="searching" enctype="multipart/form-data">
    Criteria: <input type="text" name="criteria" minlength=1>(name/borough/..)<br>
    Search Word :<input type="text" name="searchword" minlength=1><br>
    <input type="submit"text="search">
    </form>

<H2>Showing <%= p.length %> document(s)</H2> 
<ol> 
<% for (var i in p) { %>
  <li><a href='/display?_id=<%= p[i]._id %>'><%= p[i].name %></a></li> 
<% } %>
</ol> 
    </div>

</body>
</html>